[submodule "3rdparty/triton"]
	path = 3rdparty/triton
	url = https://github.com/stmoonar/triton.git
[submodule "3rdparty/mori"]
	path = 3rdparty/mori
	url = https://github.com/ROCm/mori.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/shmem"]
	path = 3rdparty/shmem
	url = https://gitcode.com/cann/shmem.git
	update = none
[submodule "3rdparty/triton-ascend"]
	path = 3rdparty/triton-ascend
	url = https://github.com/triton-lang/triton-ascend.git
	update = none
